  .sources > h3 {
    margin: 2em;
  }

  .sources > ul > li {
     display: inline-block;
     border: none;
     padding: 1em;
     margin: 2em;
     }

  .sources > ul > li > a {
 font-size: 1.5em;
  }

 
  