.sidebar-container {
	background-color: #919191;
	margin: 2em;
}

.sidebar-right {
  }

  .pikachu-img {
	animation: App-logo-spin infinite 15s linear;
  }

  @keyframes App-logo-spin {
	from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(360deg);
	}
  }