.App {
  background-color: #c2bcbc;
  height: 100%;
  background-position: center;
  background-size: cover;
  font-family: Comfortaa;
}

main {
  display: grid;  
  grid-template-columns: 5fr 1fr;
}





