.App {
  /* background-image: url("./assets/markus-spiske-k0rVudBoB4c-unsplash.jpg");
  background-position: center;
  background-size: cover; */
  background-color: #2f2f2f;
  height: 100vh;
}

main {
  display: grid;  
  grid-template-columns: 4fr 1fr;
}





